@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: linear-gradient(transparent, oklch(from black l c h / 0.5));
  background-color: oklch(0.3 0.07 0turn);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
[is="game-root"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1lh;
  [is="score"] {
    &::before {
      content: "score: ";
    }
  }
}
[is="game-scene"] {
  --fr-x: 10;
  --fr-y: 10;

  --perc-x: 10%;
  --perc-y: 10%;

  position: relative;
  display: grid;
  margin: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  grid-template-rows: repeat(var(--fr-y), 1fr);
  grid-template-columns: repeat(var(--fr-x), 1fr);
  aspect-ratio: 1 / 1;
  width: 50vmin;

  background: oklch(from black l c h / 0.4);
  outline: 0.2em oklch(from black l c h / 0.3) dotted;
  outline-offset: 0.25rem;

  box-shadow: oklch(from white l c h / 0.1) -2px -2px 10px 3px,
    oklch(from black l c h / 0.2) 2px 2px 10px 3px;
}
[is="game-scene"] [is="game-cube"] {
  pointer-events: none;
  user-select: none;
  --x: 0;
  --y: 0;
  --val: 0;
  --time: 0.3s;

  scale: 0;
  position: absolute;
  left: calc(var(--x) * var(--perc-x));
  top: calc(var(--y) * var(--perc-y));
  width: var(--perc-x);
  height: var(--perc-y);

  --main-color: oklch(
    calc(1 - (1 * ((var(--val) - 1) / var(--val))) * 0.5) 0.1
      calc(var(--val) * 0.02turn)
  );
  background: linear-gradient(
    300deg,
    var(--main-color),
    oklch(from var(--main-color) calc(l * 1.2) c h)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: monospace;

  transition-property: left, top, background, --main-color;
  transition-duration: var(--time);
  animation-duration: var(--time);
  animation-fill-mode: forwards;
  animation-name: scalein;
  z-index: 1;
  &[mixin] {
    z-index: 0;
    animation-name: scalein, mixin;
  }
}

@keyframes scalein {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes mixin {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
