@layer propertys, base, components, utilities, theme;

@import "/css/propertys.css" layer(propertys);
@import "/css/Game/GameRoot.css" layer(components);
@import "/css/Game/GameScene.css" layer(components);
@import "/css/Game/GameCube.css" layer(components);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --score: 0;
  --base-hue: 0;
  padding: 1lh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: #fefaf2;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  display: grid;
  grid-template-rows: 1fr auto 1fr;

  /*animation: base-hue-road 20s infinite forwards;*/
}

[is="game-scene"] {
  --bg-color: #d5c9b8;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      to right,
      var(--bg-color) 5%,
      transparent 05%,
      transparent 95%,
      var(--bg-color) 95%
    ),
    linear-gradient(
      to bottom,
      var(--bg-color) 5%,
      #e1d5c5 05%,
      #e0d5c6 95%,
      var(--bg-color) 95%
    );
  background-size: calc(var(--perc-y)) calc(var(--perc-x));

  background-repeat: repeat;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.5em #d5c9b8;
}
[is="game-cube"] {
  border-radius: 0.5em;
}

.sound {
  appearance: none;
  display: flex;
  aspect-ratio: 1/1;
  height: 2em;
  background-image: url("/media/svg/sound.svg");
  border: none;
  background-size: contain;
  background-color: transparent;
  transition: transform 0.2s;
  opacity: 0.5;
  &:hover {
    transform: scale(1.1);
  }
  &:checked {
    opacity: 1;
  }
  &:active {
    transform: scale(0.9);
  }
}
#audio-controls {
  display: flex;
  gap: 1em;
  &:has(input[type="checkbox"]:checked) {
    input[type="range"] {
      left: 0%;
      opacity: 1;
    }
  }
  input[type="checkbox"] {
    z-index: 3;
  }
}

input[type="range"] {
  transition-property: left, opacity;
  transition-duration: 0.3s;
  left: -10%;
  opacity: 0;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20dvw;
  z-index: 2;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: lch(30.59 0.02 277.8);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  top: -50%;

  border-radius: 2em;
  background-color: white;
  width: 1rem;
  aspect-ratio: 1 / 1;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid lch(100 0.03 277.8 / 0.2);
  outline: 3px solid lch(100 0.03 277.8 / 0.2);
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}
