@layer reset, propertys, base, components, utilities, theme;

@import "/css//reset.css" layer(reset);
@import "/css/propertys.css" layer(propertys);
@import "/css/utilities.css" layer(utilities);
@import "/css/Game/GameRoot.css" layer(components);
@import "/css/Game/GameScene.css" layer(components);
@import "/css/Game/GameCube.css" layer(components);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --root-hue: 1turn;
  --color-pastel-1: lch(90, 20, 40);
  --color-pastel-2: lch(85, 15, 120);
  --color-pastel-3: lch(95, 10, 200);
  --color-pastel-4: lch(92, 18, 280);
  --color-pastel-5: lch(88, 22, 340);
}
:root{
  --c-1: #d5c9b8;
  --bg-1: #fefaf2;
  --c-brown-5: #E1D6C6;
  --c-brown-4: #d5c9b8;
}
html{
  font-size: min(10vmin, 5dvw, 4dvh);
}

body {
  --score: 0;
  --base-hue: 0;
  padding: 1lh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--bg-1);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  display: grid;
  grid-template-rows: 1fr auto 1fr;

  /*animation: base-hue-road 20s infinite forwards;*/
}

[is="game-root"]{
  margin: 0 auto;
  width: 95%;
  gap: 4vmin;
  color: gray;
  button{
    padding: .2em;
    border-radius: 1em;
    width: 100%;
    background-color: #51999A;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 3rem;
  }
  [is="score"]{
    padding: .2em;
    aspect-ratio: 3 / 2;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: .5rem;
    background-color: #F9805F;
    color: white;
    font-size: 1.5rem;
  }
  [is="max-score"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .2em;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: .5em;
    background-color: var(--c-brown-5);
    font-size: .9rem;
    &::before{
      font-size: .7rem;
      content: "BEST";
    }
  }
  [is="message"]{
    font-size: .7rem;
  }
}

[is="game-scene"] {
  --bg-color: var(--c-brown-4);
  --bg-grid-color: var(--c-brown-5);
  --bg-grid-space-color: var(--bg-color);
  --bg-grid-x: var(--perc-x);
  --bg-grid-y: var(--perc-y);
  width: 100%;
  color: white;

  background-repeat: repeat;
  border-radius: 0.5em;
  outline: var(--bg-color) solid .3em;
}
[is="game-cube"] {
  border-radius: 0.5em;
}

.sound {
  appearance: none;
  display: flex;
  aspect-ratio: 1/1;
  height: 2.5rem;
  background-image: url("/media/svg/sound.svg");
  border: none;
  background-size: contain;
  background-color: transparent;
  transition: transform 0.2s;
  opacity: 0.5;
  &:hover {
    transform: scale(1.1);
  }
  &:checked {
    opacity: 1;
  }
  &:active {
    transform: scale(0.9);
  }
}
#audio-controls {
  display: flex;
  gap: 1em;
  &:has(input[type="checkbox"]:checked) {
    input[type="range"] {
      left: 0%;
      opacity: 1;
    }
  }
  input[type="checkbox"] {
    z-index: 3;
  }
}

input[type="range"] {
  transition-property: left, opacity;
  transition-duration: 0.3s;
  left: -10%;
  opacity: 0;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20dvw;
  z-index: 2;
}




/*landscape*/
@media screen and (aspect-ratio > 2 / 3) {
  [is="game-root"]{
    button{
      width: 50vmin;
      font-size: 1rem; 
    }
  }
  [is="game-scene"]{
    width: 50vmin;
  }
}
@media screen and (aspect-ratio > 3 / 2) {
  [is="game-root"]{
    button{
      width: 40vmin;
      font-size: 1rem; 
    }
  }
  [is="game-scene"]{
    width: 40vmin;
  }
}
