game-root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  [is="score"] {
  }
  [is="max-score"]::before {
    content: "max score: ";
  }
  [is="message"]{
    z-index: 1;
  }
}